<main>
  <div>
    <h1>Producto Agregado al Carrito</h1>
    <p>El producto con ID
      {{productId}}
      ha sido agregado al carrito correctamente.</p>
    <a href="/carts/65c2865ee7d8464e663be2b9">Ver Carrito</a>
    <a href="/products">Continuar Comprando</a>
  </div>
</main>