body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	color: #333;
}

		/* Estilos para la lista de productos */
#product_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

		/* Estilos para los formularios */
#form_add,
#form_delete {
	display: flex;
	flex-direction: column;
	color: #2c3e50;
	max-width: 300px;
	margin: 0 auto;
}

#uploader {
	width: calc(100% - 40px);
	padding: 20px;
	margin: 20px auto;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
}

		/* Estilos para los elementos de la lista */
li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	background-color: #f5f5f5;
}

		/* Estilos para los botones de eliminar */
.delete_button {
	border-radius: 5px;
	border: 2px solid #e74c3c;
	background-color: #ffffff;
	color: #e74c3c;
	padding: 5px 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.delete_button:hover {
	background-color: #e74c3c;
	color: #ffffff;
}
		/* Estilos para los botones de paginación */
.button-container {
	text-align: center;
	padding: 15px;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #0056b3;
}

.page-number-container {
	display: inline-block;
	margin: 0 10px;
}

.page-number {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #007bff;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
}

		/* Estilos para la tabla de productos */

#product_table {
	background-color: #0056b3;
	margin: 0 auto;
	width: 70%;
	border-collapse: collapse;
}

#product_table th,
#product_table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

		/* Estilos para las celdas de encabezado */
#product_table th {
	background-color: #f2f2f2;
	color: #333;
}

		/* Estilos para las celdas de datos */
#product_table td {
	background-color: #fff;
}

		/* Estilos para el botón de eliminar en la tabla */
.delete_button {
	border-radius: 5px;
	border: 2px solid #e74c3c;
	background-color: #ffffff;
	color: #e74c3c;
	padding: 5px 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.delete_button:hover {
	background-color: #e74c3c;
	color: #ffffff;
}

#chatWindow {
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 8px;
	padding: 20px;
	margin: 20px auto;
	width: 80%;
	max-width: 600px;
}

#chatbox {
	width: calc(100% - 40px);
	padding: 20px;
	margin: 20px auto;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
}

#messageLogs {
	display: grid;
	max-height: 300px;
	overflow-y: auto;
	padding: 14px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
	align-content: space-between;
	justify-items: center;

	#messageLogs p {
		margin: 5px 0;
	}

	.self-message {
		display: grid;
		background-color: #d3e8fd;
		width: 50%;
		text-align-last: end;
		padding: 8px;
		border-radius: 8px;
		margin-bottom: 8px;
	}

	.other-message {
		display: grid;
		width: 50%;
		text-align-last: start;
		background-color: #f3f3f3;
		padding: 8px;
		border-radius: 8px;
		margin-bottom: 8px;
	}

	.self-message strong {
		color: blue;
	}

	.other-message strong {
		color: green;
	}
}

		/* Estilos para el formulario de querys*/
#myForm {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	margin-bottom: 20px;
}

#myForm label,
#myForm select,
#myForm input[type='number'],
#myForm input[type='submit'] {
	margin-right: 1px;
	width: 5%;
	text-align: center;
}

#myForm input[type='submit'] {
	padding: 8px 12px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#myForm input[type='submit']:hover {
	background-color: #0056b3;
}
